<%- include('partials/header') %>

<div class="jumbotron text-center">
   <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <%  if(locals.userwithInfo){ %>
       <h2 class="display-3">You've Discovered your details in here!</h2>
        <h3 class="secret-text"><%= userwithInfo.username%></h3>
        <h3 class="secret-text"><%= userwithInfo.email%></h3>
        <h3 class="secret-text"><%= userwithInfo.phone%></h3>
        
    <hr> 
  <%  }  else{ %>
    <h2 class="display-3">You've Discovered your details in  here!</h2>
 <% } %> 
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit the Details </a>
  </div>
</div>

<%- include('partials/footer') %>
